## Requirements

Pull the daily market data for TSLA and GS from 2024/04/01 to today from Yahoo Finance

* Persist the daily market data for GS and TSLA in the MarketData database you created in Lab1 (see the snapshot on next slide as an example)
*  Notes: you may use methods beyond what we discussed here for the above tasks if you prefer.

In [1]:
import yfinance as yf 
import datetime as dt 
import pandas as pd 
import numpy as np 
import sqlite3

In [2]:
start_date = dt.date(2024,4,1)
end_date = dt.datetime.today().strftime("%Y-%m-%d")

# download daily market data for TSLA and GS
all_data = {}
for ticker in ['TSLA','GS']:
    all_data[ticker] = yf.download(ticker, start_date, end_date)

price = pd.DataFrame({symbol:data['Close'] for symbol, data in all_data.items()})
volume = pd.DataFrame({symbol: data['Volume'] for symbol, data in all_data.items()})
price

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  TSLA          GS
Date
2024-04-01  175.220001  413.510010
2024-04-02  166.630005  410.149994
2024-04-03  168.380005  414.000000
2024-04-04  171.110001  406.250000
2024-04-05  164.899994  408.070007
2024-04-08  172.979996  410.540009
2024-04-09  176.880005  410.709991
2024-04-10  171.759995  400.760010
2024-04-11  174.600006  397.480011
2024-04-12  171.050003  389.489990
2024-04-15  161.479996  400.880005
2024-04-16  157.110001  396.859985
2024-04-17  155.449997  403.910004
2024-04-18  149.929993  403.109985
2024-04-19  147.050003  404.000000
2024-04-22  142.050003  417.350006
2024-04-23  144.679993  424.000000

In [14]:
tsla_data = all_data['TSLA']
symbol = 'TSLA'
for index, row in tsla_data.iterrows():
    # print(index)
    # print(row)
    index = index.strftime("%Y-%m-%d")
    data_tuple = (symbol, index) + tuple(round(element,4) for element in row)
    print(data_tuple)

('TSLA', '2024-04-01', 176.17, 176.75, 170.21, 175.22, 175.22, 81562100.0)
('TSLA', '2024-04-02', 164.75, 167.69, 163.43, 166.63, 166.63, 116650600.0)
('TSLA', '2024-04-03', 164.02, 168.82, 163.28, 168.38, 168.38, 82950100.0)
('TSLA', '2024-04-04', 170.07, 177.19, 168.01, 171.11, 171.11, 123162000.0)
('TSLA', '2024-04-05', 169.08, 170.86, 160.51, 164.9, 164.9, 141250700.0)
('TSLA', '2024-04-08', 169.34, 174.5, 167.79, 172.98, 172.98, 104423300.0)
('TSLA', '2024-04-09', 172.91, 179.22, 171.92, 176.88, 176.88, 103232700.0)
('TSLA', '2024-04-10', 173.04, 174.93, 170.01, 171.76, 171.76, 84532400.0)
('TSLA', '2024-04-11', 172.55, 175.88, 168.51, 174.6, 174.6, 94516000.0)
('TSLA', '2024-04-12', 172.34, 173.81, 170.36, 171.05, 171.05, 64506600.0)
('TSLA', '2024-04-15', 170.24, 170.69, 161.38, 161.48, 161.48, 100245300.0)
('TSLA', '2024-04-16', 156.74, 158.19, 153.75, 157.11, 157.11, 97000000.0)
('TSLA', '2024-04-17', 157.64, 158.33, 153.78, 155.45, 155.45, 82439700.0)
('TSLA', '2024-04-18', 151.25, 152.2, 148.7, 149.93, 149.93, 96098800.0)
('TSLA', '2024-04-19', 148.97, 150.94, 146.22, 147.05, 147.05, 86005100.0)
('TSLA', '2024-04-22', 140.56, 144.44, 138.8, 142.05, 142.05, 107097600.0)
('TSLA', '2024-04-23', 143.33, 147.26, 141.11, 144.68, 144.68, 124545100.0)

In [15]:
gs_data = all_data['GS']
symbol = 'GS'
for index, row in gs_data.iterrows():
    # print(index)
    # print(row)
    index = index.strftime("%Y-%m-%d")
    data_tuple = (symbol, index) + tuple(round(element,4) for element in row)
    print(data_tuple)

('GS', '2024-04-01', 416.68, 417.95, 412.0, 413.51, 413.51, 1863900.0)
('GS', '2024-04-02', 410.74, 413.17, 407.62, 410.15, 410.15, 1976000.0)
('GS', '2024-04-03', 411.0, 416.63, 411.0, 414.0, 414.0, 1549200.0)
('GS', '2024-04-04', 418.0, 419.0, 405.7, 406.25, 406.25, 1704700.0)
('GS', '2024-04-05', 406.56, 409.14, 401.47, 408.07, 408.07, 1694500.0)
('GS', '2024-04-08', 409.1, 412.53, 407.55, 410.54, 410.54, 1181900.0)
('GS', '2024-04-09', 411.51, 413.22, 407.05, 410.71, 410.71, 1247800.0)
('GS', '2024-04-10', 404.01, 405.45, 397.29, 400.76, 400.76, 1903300.0)
('GS', '2024-04-11', 400.48, 401.47, 394.84, 397.48, 397.48, 2176200.0)
('GS', '2024-04-12', 392.84, 394.09, 387.12, 389.49, 389.49, 2814900.0)
('GS', '2024-04-15', 407.0, 412.87, 398.69, 400.88, 400.88, 6177000.0)
('GS', '2024-04-16', 404.45, 404.97, 395.18, 396.86, 396.86, 3459700.0)
('GS', '2024-04-17', 402.4, 407.12, 401.18, 403.91, 403.91, 4373800.0)
('GS', '2024-04-18', 405.49, 407.86, 402.41, 403.11, 403.11, 2776300.0)
('GS', '2024-04-19', 404.06, 408.0, 403.01, 404.0, 404.0, 2805100.0)
('GS', '2024-04-22', 406.94, 417.98, 404.57, 417.35, 417.35, 4165600.0)
('GS', '2024-04-23', 417.71, 425.35, 416.2, 424.0, 424.0, 2662300.0)

In [16]:
insert_list = []

for symbol in ['TSLA','GS']:
    data = all_data[symbol]
    for index, row in data.iterrows():
        index = index.strftime("%Y-%m-%d")
        data_tuple = (symbol, index) + tuple(round(element,4) for element in row)
        print(data_tuple)
        insert_list.append(data_tuple)

('TSLA', '2024-04-01', 176.17, 176.75, 170.21, 175.22, 175.22, 81562100.0)
('TSLA', '2024-04-02', 164.75, 167.69, 163.43, 166.63, 166.63, 116650600.0)
('TSLA', '2024-04-03', 164.02, 168.82, 163.28, 168.38, 168.38, 82950100.0)
('TSLA', '2024-04-04', 170.07, 177.19, 168.01, 171.11, 171.11, 123162000.0)
('TSLA', '2024-04-05', 169.08, 170.86, 160.51, 164.9, 164.9, 141250700.0)
('TSLA', '2024-04-08', 169.34, 174.5, 167.79, 172.98, 172.98, 104423300.0)
('TSLA', '2024-04-09', 172.91, 179.22, 171.92, 176.88, 176.88, 103232700.0)
('TSLA', '2024-04-10', 173.04, 174.93, 170.01, 171.76, 171.76, 84532400.0)
('TSLA', '2024-04-11', 172.55, 175.88, 168.51, 174.6, 174.6, 94516000.0)
('TSLA', '2024-04-12', 172.34, 173.81, 170.36, 171.05, 171.05, 64506600.0)
('TSLA', '2024-04-15', 170.24, 170.69, 161.38, 161.48, 161.48, 100245300.0)
('TSLA', '2024-04-16', 156.74, 158.19, 153.75, 157.11, 157.11, 97000000.0)
('TSLA', '2024-04-17', 157.64, 158.33, 153.78, 155.45, 155.45, 82439700.0)
('TSLA', '2024-04-18', 151.25, 152.2, 148.7, 149.93, 149.93, 96098800.0)
('TSLA', '2024-04-19', 148.97, 150.94, 146.22, 147.05, 147.05, 86005100.0)
('TSLA', '2024-04-22', 140.56, 144.44, 138.8, 142.05, 142.05, 107097600.0)
('TSLA', '2024-04-23', 143.33, 147.26, 141.11, 144.68, 144.68, 124545100.0)
('GS', '2024-04-01', 416.68, 417.95, 412.0, 413.51, 413.51, 1863900.0)
('GS', '2024-04-02', 410.74, 413.17, 407.62, 410.15, 410.15, 1976000.0)
('GS', '2024-04-03', 411.0, 416.63, 411.0, 414.0, 414.0, 1549200.0)
('GS', '2024-04-04', 418.0, 419.0, 405.7, 406.25, 406.25, 1704700.0)
('GS', '2024-04-05', 406.56, 409.14, 401.47, 408.07, 408.07, 1694500.0)
('GS', '2024-04-08', 409.1, 412.53, 407.55, 410.54, 410.54, 1181900.0)
('GS', '2024-04-09', 411.51, 413.22, 407.05, 410.71, 410.71, 1247800.0)
('GS', '2024-04-10', 404.01, 405.45, 397.29, 400.76, 400.76, 1903300.0)
('GS', '2024-04-11', 400.48, 401.47, 394.84, 397.48, 397.48, 2176200.0)
('GS', '2024-04-12', 392.84, 394.09, 387.12, 389.49, 389.49, 2814900.0)
('GS', '2024-04-15', 407.0, 412.87, 398.69, 400.88, 400.88, 6177000.0)
('GS', '2024-04-16', 404.45, 404.97, 395.18, 396.86, 396.86, 3459700.0)
('GS', '2024-04-17', 402.4, 407.12, 401.18, 403.91, 403.91, 4373800.0)
('GS', '2024-04-18', 405.49, 407.86, 402.41, 403.11, 403.11, 2776300.0)
('GS', '2024-04-19', 404.06, 408.0, 403.01, 404.0, 404.0, 2805100.0)
('GS', '2024-04-22', 406.94, 417.98, 404.57, 417.35, 417.35, 4165600.0)
('GS', '2024-04-23', 417.71, 425.35, 416.2, 424.0, 424.0, 2662300.0)

In [18]:
print(len(insert_list))
insert_list

34

[('TSLA', '2024-04-01', 176.17, 176.75, 170.21, 175.22, 175.22, 81562100.0),
 ('TSLA', '2024-04-02', 164.75, 167.69, 163.43, 166.63, 166.63, 116650600.0),
 ('TSLA', '2024-04-03', 164.02, 168.82, 163.28, 168.38, 168.38, 82950100.0),
 ('TSLA', '2024-04-04', 170.07, 177.19, 168.01, 171.11, 171.11, 123162000.0),
 ('TSLA', '2024-04-05', 169.08, 170.86, 160.51, 164.9, 164.9, 141250700.0),
 ('TSLA', '2024-04-08', 169.34, 174.5, 167.79, 172.98, 172.98, 104423300.0),
 ('TSLA', '2024-04-09', 172.91, 179.22, 171.92, 176.88, 176.88, 103232700.0),
 ('TSLA', '2024-04-10', 173.04, 174.93, 170.01, 171.76, 171.76, 84532400.0),
 ('TSLA', '2024-04-11', 172.55, 175.88, 168.51, 174.6, 174.6, 94516000.0),
 ('TSLA', '2024-04-12', 172.34, 173.81, 170.36, 171.05, 171.05, 64506600.0),
 ('TSLA', '2024-04-15', 170.24, 170.69, 161.38, 161.48, 161.48, 100245300.0),
 ('TSLA', '2024-04-16', 156.74, 158.19, 153.75, 157.11, 157.11, 97000000.0),
 ('TSLA', '2024-04-17', 157.64, 158.33, 153.78, 155.45, 155.45, 82439700.0),
 ('TSLA', '2024-04-18', 151.25, 152.2, 148.7, 149.93, 149.93, 96098800.0),
 ('TSLA', '2024-04-19', 148.97, 150.94, 146.22, 147.05, 147.05, 86005100.0),
 ('TSLA', '2024-04-22', 140.56, 144.44, 138.8, 142.05, 142.05, 107097600.0),
 ('TSLA', '2024-04-23', 143.33, 147.26, 141.11, 144.68, 144.68, 124545100.0),
 ('GS', '2024-04-01', 416.68, 417.95, 412.0, 413.51, 413.51, 1863900.0),
 ('GS', '2024-04-02', 410.74, 413.17, 407.62, 410.15, 410.15, 1976000.0),
 ('GS', '2024-04-03', 411.0, 416.63, 411.0, 414.0, 414.0, 1549200.0),
 ('GS', '2024-04-04', 418.0, 419.0, 405.7, 406.25, 406.25, 1704700.0),
 ('GS', '2024-04-05', 406.56, 409.14, 401.47, 408.07, 408.07, 1694500.0),
 ('GS', '2024-04-08', 409.1, 412.53, 407.55, 410.54, 410.54, 1181900.0),
 ('GS', '2024-04-09', 411.51, 413.22, 407.05, 410.71, 410.71, 1247800.0),
 ('GS', '2024-04-10', 404.01, 405.45, 397.29, 400.76, 400.76, 1903300.0),
 ('GS', '2024-04-11', 400.48, 401.47, 394.84, 397.48, 397.48, 2176200.0),
 ('GS', '2024-04-12', 392.84, 394.09, 387.12, 389.49, 389.49, 2814900.0),
 ('GS', '2024-04-15', 407.0, 412.87, 398.69, 400.88, 400.88, 6177000.0),
 ('GS', '2024-04-16', 404.45, 404.97, 395.18, 396.86, 396.86, 3459700.0),
 ('GS', '2024-04-17', 402.4, 407.12, 401.18, 403.91, 403.91, 4373800.0),
 ('GS', '2024-04-18', 405.49, 407.86, 402.41, 403.11, 403.11, 2776300.0),
 ('GS', '2024-04-19', 404.06, 408.0, 403.01, 404.0, 404.0, 2805100.0),
 ('GS', '2024-04-22', 406.94, 417.98, 404.57, 417.35, 417.35, 4165600.0),
 ('GS', '2024-04-23', 417.71, 425.35, 416.2, 424.0, 424.0, 2662300.0)]

In [19]:
connection = sqlite3.connect("MarketData.db")
cursor = connection.cursor()

cursor.executemany("replace into DailyTrades Values(?,?,?,?,?,?,?,?)", insert_list)

connection.commit()
connection.close()

In [20]:
connection = sqlite3.connect("MarketData.db")
cursor = connection.cursor()

cursor.execute("SELECT * FROM  DailyTrades; ")

result = cursor.fetchall()
for r in result:
    print(r)

('GOOGL', '2024-04-01', 150.690002, 155.740005, 150.610001, 155.490005, 155.490005, 31730850)
('GOOGL', '2024-04-02', 153.5, 154.699997, 152.149994, 154.559998, 154.559998, 24585990)
('GOOGL', '2024-04-03', 153.600006, 155.080002, 152.729996, 154.919998, 154.919998, 24704990)
('GOOGL', '2024-04-04', 153.5, 154.770004, 150.449997, 150.529999, 150.529999, 34724738)
('GOOGL', '2024-04-05', 150.029999, 153.419998, 149.600006, 152.5, 152.5, 23459250)
('GOOGL', '2024-04-08', 152.779999, 155.270004, 152.610001, 154.850006, 154.850006, 20701971)
('GOOGL', '2024-04-09', 156.085007, 158.559998, 155.190002, 156.600006, 156.600006, 31113010)
('GOOGL', '2024-04-10', 156.210007, 156.610001, 154.679993, 156.139999, 156.139999, 22838629)
('IBM', '2024-04-01', 190.0, 190.460007, 188.520004, 189.830002, 189.830002, 2364320)
('IBM', '2024-04-02', 189.139999, 189.800003, 187.600006, 188.880005, 188.880005, 2693455)
('IBM', '2024-04-03', 188.600006, 191.350006, 188.485001, 190.899994, 190.899994, 2826193)
('IBM', '2024-04-04', 192.0, 193.279999, 187.339996, 187.940002, 187.940002, 2983853)
('IBM', '2024-04-05', 188.589996, 190.320007, 188.020004, 189.139999, 189.139999, 2014264)
('IBM', '2024-04-08', 189.240005, 190.240005, 188.911804, 189.820007, 189.820007, 2678284)
('IBM', '2024-04-09', 190.539993, 191.25, 186.660004, 189.309998, 189.309998, 2794381)
('IBM', '2024-04-10', 187.419998, 187.914993, 185.520004, 186.039993, 186.039993, 3081915)
('MSFT', '2024-04-01', 423.950012, 427.890015, 422.220001, 424.570007, 424.570007, 16316000)
('MSFT', '2024-04-02', 420.109985, 422.380005, 417.839996, 421.440002, 421.440002, 17912000)
('MSFT', '2024-04-03', 419.730011, 423.26001, 419.089996, 420.450012, 420.450012, 16502300)
('MSFT', '2024-04-04', 424.98999, 428.670013, 417.570007, 417.880005, 417.880005, 19370900)
('MSFT', '2024-04-05', 420.01001, 426.51001, 418.320007, 425.519989, 425.519989, 16544300)
('MSFT', '2024-04-08', 425.170013, 427.279999, 423.299988, 424.589996, 424.589996, 14272400)
('MSFT', '2024-04-09', 426.440002, 427.73999, 421.619995, 426.279999, 426.279999, 12512300)
('MSFT', '2024-04-10', 422.190002, 424.029999, 419.700012, 423.26001, 423.26001, 16202100)
('TSLA', '2024-04-01', 176.17, 176.75, 170.21, 175.22, 175.22, 81562100)
('TSLA', '2024-04-02', 164.75, 167.69, 163.43, 166.63, 166.63, 116650600)
('TSLA', '2024-04-03', 164.02, 168.82, 163.28, 168.38, 168.38, 82950100)
('TSLA', '2024-04-04', 170.07, 177.19, 168.01, 171.11, 171.11, 123162000)
('TSLA', '2024-04-05', 169.08, 170.86, 160.51, 164.9, 164.9, 141250700)
('TSLA', '2024-04-08', 169.34, 174.5, 167.79, 172.98, 172.98, 104423300)
('TSLA', '2024-04-09', 172.91, 179.22, 171.92, 176.88, 176.88, 103232700)
('TSLA', '2024-04-10', 173.04, 174.93, 170.01, 171.76, 171.76, 84532400)
('TSLA', '2024-04-11', 172.55, 175.88, 168.51, 174.6, 174.6, 94516000)
('TSLA', '2024-04-12', 172.34, 173.81, 170.36, 171.05, 171.05, 64506600)
('TSLA', '2024-04-15', 170.24, 170.69, 161.38, 161.48, 161.48, 100245300)
('TSLA', '2024-04-16', 156.74, 158.19, 153.75, 157.11, 157.11, 97000000)
('TSLA', '2024-04-17', 157.64, 158.33, 153.78, 155.45, 155.45, 82439700)
('TSLA', '2024-04-18', 151.25, 152.2, 148.7, 149.93, 149.93, 96098800)
('TSLA', '2024-04-19', 148.97, 150.94, 146.22, 147.05, 147.05, 86005100)
('TSLA', '2024-04-22', 140.56, 144.44, 138.8, 142.05, 142.05, 107097600)
('TSLA', '2024-04-23', 143.33, 147.26, 141.11, 144.68, 144.68, 124545100)
('GS', '2024-04-01', 416.68, 417.95, 412.0, 413.51, 413.51, 1863900)
('GS', '2024-04-02', 410.74, 413.17, 407.62, 410.15, 410.15, 1976000)
('GS', '2024-04-03', 411.0, 416.63, 411.0, 414.0, 414.0, 1549200)
('GS', '2024-04-04', 418.0, 419.0, 405.7, 406.25, 406.25, 1704700)
('GS', '2024-04-05', 406.56, 409.14, 401.47, 408.07, 408.07, 1694500)
('GS', '2024-04-08', 409.1, 412.53, 407.55, 410.54, 410.54, 1181900)
('GS', '2024-04-09', 411.51, 413.22, 407.05, 410.71, 410.71, 1247800)
('GS', '2024-04-10', 404.01, 405.45, 397.29, 400.76, 400.76, 1903300)
('GS', '2024-04-11', 400.48, 401.47, 394.84, 397.48, 397.48, 2176200)
('GS', '2024-04-12', 392.84, 394.09, 387.12, 389.49, 389.49, 2814900)
('GS', '2024-04-15', 407.0, 412.87, 398.69, 400.88, 400.88, 6177000)
('GS', '2024-04-16', 404.45, 404.97, 395.18, 396.86, 396.86, 3459700)
('GS', '2024-04-17', 402.4, 407.12, 401.18, 403.91, 403.91, 4373800)
('GS', '2024-04-18', 405.49, 407.86, 402.41, 403.11, 403.11, 2776300)
('GS', '2024-04-19', 404.06, 408.0, 403.01, 404.0, 404.0, 2805100)
('GS', '2024-04-22', 406.94, 417.98, 404.57, 417.35, 417.35, 4165600)
('GS', '2024-04-23', 417.71, 425.35, 416.2, 424.0, 424.0, 2662300)